In [0]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [0]:
import numpy as np
import pandas as pd
import io
dataset = pd.read_csv(io.BytesIO(uploaded['Churn_Modelling.csv']))

In [0]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
dataset.shape

(10000, 14)

In [0]:
dataset['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [0]:
X = dataset.iloc[:,3:13]
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [0]:
y = dataset.iloc[:,13]
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [0]:
geography = pd.get_dummies(X['Geography'], drop_first=True)
gender = pd.get_dummies(X['Gender'], drop_first=True)

In [0]:
geography.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [0]:
X = pd.concat([X, geography, gender], axis = 1)

In [0]:
X.head()

   CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0          619    France  Female   42  ...        101348.88        0      0     0
1          608     Spain  Female   41  ...        112542.58        0      1     0
2          502    France  Female   42  ...        113931.57        0      0     0
3          699    France  Female   39  ...         93826.63        0      0     0
4          850     Spain  Female   43  ...         79084.10        0      1     0

[5 rows x 13 columns]

In [0]:
X.drop(['Geography', 'Gender'], axis = 1, inplace=True)

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Building Artificial Neural Network (ANN)

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU
from keras.layers import Dropout

In [0]:
# Initialising ANN

classifier = Sequential()

In [0]:
# Adding input layer 
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation='relu', input_dim = 11))

# we can add dropout layer after each hidden layer
# classifier.add(Dropout(0.3))

# Adding first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation='relu'))

# we can add dropout layer after each hidden layer
# classifier.add(Dropout(0.3))

# Adding output layer
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation='sigmoid'))

In [0]:
# Compiling the ANN

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [0]:
# Fitting ANN to the training set

model_hist = classifier.fit(X_train, y_train, validation_split=0.33, batch_size=10, nb_epoch = 100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 228us/step - loss: 0.5572 - accuracy: 0.7514 - val_loss: 0.4940 - val_accuracy: 0.7967
Epoch 2/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.4701 - accuracy: 0.8050 - val_loss: 0.4653 - val_accuracy: 0.8080
Epoch 3/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.4394 - accuracy: 0.8186 - val_loss: 0.4431 - val_accuracy: 0.8171
Epoch 4/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.4174 - accuracy: 0.8261 - val_loss: 0.4290 - val_accuracy: 0.8194
Epoch 5/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.4013 - accuracy: 0.8311 - val_loss: 0.4121 - val_accuracy: 0.8307
Epoch 6/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3871 - accuracy: 0.8414 - val_loss: 0.3995 - val_accuracy: 0.8364
Epoch 7/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3774 - accuracy: 0.8444 - val_loss: 0.3898 - val_accuracy: 0.8425
Epoch 8/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3684 - accuracy: 0.8507 - val_loss: 0.3860 - val_accuracy: 0.8425
Epoch 9/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3639 - accuracy: 0.8528 - val_loss: 0.3786 - val_accuracy: 0.8466
Epoch 10/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3589 - accuracy: 0.8543 - val_loss: 0.3777 - val_accuracy: 0.8474
Epoch 11/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3548 - accuracy: 0.8545 - val_loss: 0.3733 - val_accuracy: 0.8493
Epoch 12/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3531 - accuracy: 0.8571 - val_loss: 0.3709 - val_accuracy: 0.8508
Epoch 13/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3502 - accuracy: 0.8580 - val_loss: 0.3760 - val_accuracy: 0.8432
Epoch 14/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3488 - accuracy: 0.8586 - val_loss: 0.3712 - val_accuracy: 0.8501
Epoch 15/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3470 - accuracy: 0.8602 - val_loss: 0.3691 - val_accuracy: 0.8527
Epoch 16/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3458 - accuracy: 0.8587 - val_loss: 0.3690 - val_accuracy: 0.8466
Epoch 17/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3456 - accuracy: 0.8586 - val_loss: 0.3679 - val_accuracy: 0.8474
Epoch 18/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3438 - accuracy: 0.8606 - val_loss: 0.3642 - val_accuracy: 0.8512
Epoch 19/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3429 - accuracy: 0.8567 - val_loss: 0.3651 - val_accuracy: 0.8478
Epoch 20/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3414 - accuracy: 0.8602 - val_loss: 0.3654 - val_accuracy: 0.8470
Epoch 21/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3406 - accuracy: 0.8600 - val_loss: 0.3655 - val_accuracy: 0.8508
Epoch 22/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3399 - accuracy: 0.8614 - val_loss: 0.3640 - val_accuracy: 0.8493
Epoch 23/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3398 - accuracy: 0.8591 - val_loss: 0.3629 - val_accuracy: 0.8493
Epoch 24/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3389 - accuracy: 0.8610 - val_loss: 0.3624 - val_accuracy: 0.8508
Epoch 25/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3372 - accuracy: 0.8604 - val_loss: 0.3633 - val_accuracy: 0.8516
Epoch 26/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3375 - accuracy: 0.8599 - val_loss: 0.3613 - val_accuracy: 0.8512
Epoch 27/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3367 - accuracy: 0.8615 - val_loss: 0.3613 - val_accuracy: 0.8497
Epoch 28/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3363 - accuracy: 0.8614 - val_loss: 0.3606 - val_accuracy: 0.8493
Epoch 29/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3356 - accuracy: 0.8630 - val_loss: 0.3607 - val_accuracy: 0.8508
Epoch 30/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3358 - accuracy: 0.8584 - val_loss: 0.3606 - val_accuracy: 0.8538
Epoch 31/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3343 - accuracy: 0.8606 - val_loss: 0.3606 - val_accuracy: 0.8535
Epoch 32/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3341 - accuracy: 0.8610 - val_loss: 0.3604 - val_accuracy: 0.8527
Epoch 33/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3342 - accuracy: 0.8623 - val_loss: 0.3617 - val_accuracy: 0.8531
Epoch 34/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3335 - accuracy: 0.8625 - val_loss: 0.3595 - val_accuracy: 0.8531
Epoch 35/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3337 - accuracy: 0.8606 - val_loss: 0.3605 - val_accuracy: 0.8542
Epoch 36/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3331 - accuracy: 0.8602 - val_loss: 0.3618 - val_accuracy: 0.8531
Epoch 37/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3327 - accuracy: 0.8623 - val_loss: 0.3605 - val_accuracy: 0.8538
Epoch 38/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3326 - accuracy: 0.8617 - val_loss: 0.3625 - val_accuracy: 0.8523
Epoch 39/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3329 - accuracy: 0.8617 - val_loss: 0.3624 - val_accuracy: 0.8538
Epoch 40/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3320 - accuracy: 0.8623 - val_loss: 0.3609 - val_accuracy: 0.8531
Epoch 41/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3314 - accuracy: 0.8627 - val_loss: 0.3602 - val_accuracy: 0.8531
Epoch 42/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3313 - accuracy: 0.8630 - val_loss: 0.3607 - val_accuracy: 0.8516
Epoch 43/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3316 - accuracy: 0.8645 - val_loss: 0.3623 - val_accuracy: 0.8554
Epoch 44/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3308 - accuracy: 0.8636 - val_loss: 0.3627 - val_accuracy: 0.8527
Epoch 45/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3304 - accuracy: 0.8617 - val_loss: 0.3602 - val_accuracy: 0.8546
Epoch 46/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3297 - accuracy: 0.8617 - val_loss: 0.3660 - val_accuracy: 0.8501
Epoch 47/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3300 - accuracy: 0.8625 - val_loss: 0.3609 - val_accuracy: 0.8531
Epoch 48/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3308 - accuracy: 0.8627 - val_loss: 0.3616 - val_accuracy: 0.8527
Epoch 49/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3303 - accuracy: 0.8638 - val_loss: 0.3630 - val_accuracy: 0.8531
Epoch 50/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3299 - accuracy: 0.8636 - val_loss: 0.3612 - val_accuracy: 0.8519
Epoch 51/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3295 - accuracy: 0.8653 - val_loss: 0.3608 - val_accuracy: 0.8546
Epoch 52/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3298 - accuracy: 0.8647 - val_loss: 0.3653 - val_accuracy: 0.8535
Epoch 53/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3289 - accuracy: 0.8632 - val_loss: 0.3648 - val_accuracy: 0.8519
Epoch 54/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3299 - accuracy: 0.8623 - val_loss: 0.3605 - val_accuracy: 0.8508
Epoch 55/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3293 - accuracy: 0.8614 - val_loss: 0.3632 - val_accuracy: 0.8527
Epoch 56/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3292 - accuracy: 0.8638 - val_loss: 0.3609 - val_accuracy: 0.8519
Epoch 57/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3292 - accuracy: 0.8647 - val_loss: 0.3596 - val_accuracy: 0.8538
Epoch 58/100
5359/5359 [==============================] - 1s 164us/step - loss: 0.3284 - accuracy: 0.8628 - val_loss: 0.3648 - val_accuracy: 0.8523
Epoch 59/100
5359/5359 [==============================] - 1s 166us/step - loss: 0.3296 - accuracy: 0.8638 - val_loss: 0.3610 - val_accuracy: 0.8538
Epoch 60/100
5359/5359 [==============================] - 1s 164us/step - loss: 0.3284 - accuracy: 0.8632 - val_loss: 0.3639 - val_accuracy: 0.8504
Epoch 61/100
5359/5359 [==============================] - 1s 164us/step - loss: 0.3284 - accuracy: 0.8653 - val_loss: 0.3624 - val_accuracy: 0.8523
Epoch 62/100
5359/5359 [==============================] - 1s 164us/step - loss: 0.3288 - accuracy: 0.8656 - val_loss: 0.3615 - val_accuracy: 0.8531
Epoch 63/100
5359/5359 [==============================] - 1s 163us/step - loss: 0.3285 - accuracy: 0.8649 - val_loss: 0.3604 - val_accuracy: 0.8531
Epoch 64/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3293 - accuracy: 0.8638 - val_loss: 0.3589 - val_accuracy: 0.8550
Epoch 65/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3284 - accuracy: 0.8656 - val_loss: 0.3614 - val_accuracy: 0.8527
Epoch 66/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3281 - accuracy: 0.8628 - val_loss: 0.3615 - val_accuracy: 0.8512
Epoch 67/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3289 - accuracy: 0.8625 - val_loss: 0.3591 - val_accuracy: 0.8527
Epoch 68/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3285 - accuracy: 0.8645 - val_loss: 0.3608 - val_accuracy: 0.8508
Epoch 69/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3284 - accuracy: 0.8643 - val_loss: 0.3601 - val_accuracy: 0.8535
Epoch 70/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3278 - accuracy: 0.8632 - val_loss: 0.3596 - val_accuracy: 0.8542
Epoch 71/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3278 - accuracy: 0.8655 - val_loss: 0.3619 - val_accuracy: 0.8535
Epoch 72/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3279 - accuracy: 0.8638 - val_loss: 0.3628 - val_accuracy: 0.8557
Epoch 73/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3271 - accuracy: 0.8668 - val_loss: 0.3625 - val_accuracy: 0.8523
Epoch 74/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3293 - accuracy: 0.8640 - val_loss: 0.3612 - val_accuracy: 0.8535
Epoch 75/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3279 - accuracy: 0.8649 - val_loss: 0.3597 - val_accuracy: 0.8519
Epoch 76/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3266 - accuracy: 0.8628 - val_loss: 0.3610 - val_accuracy: 0.8523
Epoch 77/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3271 - accuracy: 0.8660 - val_loss: 0.3630 - val_accuracy: 0.8565
Epoch 78/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3282 - accuracy: 0.8656 - val_loss: 0.3596 - val_accuracy: 0.8542
Epoch 79/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3274 - accuracy: 0.8647 - val_loss: 0.3589 - val_accuracy: 0.8519
Epoch 80/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3271 - accuracy: 0.8638 - val_loss: 0.3611 - val_accuracy: 0.8523
Epoch 81/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3274 - accuracy: 0.8643 - val_loss: 0.3600 - val_accuracy: 0.8531
Epoch 82/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3272 - accuracy: 0.8660 - val_loss: 0.3620 - val_accuracy: 0.8554
Epoch 83/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3278 - accuracy: 0.8643 - val_loss: 0.3584 - val_accuracy: 0.8550
Epoch 84/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.3273 - accuracy: 0.8643 - val_loss: 0.3584 - val_accuracy: 0.8557
Epoch 85/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3264 - accuracy: 0.8636 - val_loss: 0.3602 - val_accuracy: 0.8538
Epoch 86/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3259 - accuracy: 0.8647 - val_loss: 0.3677 - val_accuracy: 0.8485
Epoch 87/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3277 - accuracy: 0.8621 - val_loss: 0.3589 - val_accuracy: 0.8561
Epoch 88/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3272 - accuracy: 0.8645 - val_loss: 0.3576 - val_accuracy: 0.8535
Epoch 89/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3274 - accuracy: 0.8649 - val_loss: 0.3584 - val_accuracy: 0.8554
Epoch 90/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3263 - accuracy: 0.8640 - val_loss: 0.3605 - val_accuracy: 0.8557
Epoch 91/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3274 - accuracy: 0.8651 - val_loss: 0.3594 - val_accuracy: 0.8550
Epoch 92/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3263 - accuracy: 0.8653 - val_loss: 0.3594 - val_accuracy: 0.8527
Epoch 93/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3259 - accuracy: 0.8655 - val_loss: 0.3605 - val_accuracy: 0.8557
Epoch 94/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3256 - accuracy: 0.8634 - val_loss: 0.3650 - val_accuracy: 0.8519
Epoch 95/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3277 - accuracy: 0.8656 - val_loss: 0.3579 - val_accuracy: 0.8535
Epoch 96/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3261 - accuracy: 0.8632 - val_loss: 0.3598 - val_accuracy: 0.8546
Epoch 97/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3257 - accuracy: 0.8645 - val_loss: 0.3590 - val_accuracy: 0.8527
Epoch 98/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3264 - accuracy: 0.8658 - val_loss: 0.3588 - val_accuracy: 0.8554
Epoch 99/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3262 - accuracy: 0.8634 - val_loss: 0.3595 - val_accuracy: 0.8557
Epoch 100/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3264 - accuracy: 0.8649 - val_loss: 0.3599 - val_accuracy: 0.8569

In [0]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [0]:
from sklearn.metrics import confusion_matrix, accuracy_score

cm = confusion_matrix(y_test, y_pred)
cm

array([[1527,   68],
       [ 209,  196]])

In [0]:
score = accuracy_score(y_pred, y_test)
score

0.8615